<header class="container header active" id="home">
  <div class="back-to-home">
    <a class="btn btn-primary" routerLink="/navbar">Back to Home</a>
  </div>
  <div class="header-content">
    <div class="right-header">
      <h1 class="name">Hi, I'm<span>Subham</span></h1>
      <p>
        I am a Electrical Engineering student of GIFT College, BBSR,
        Odisha, India. I am a front end web developer and I am good at
        programming languages like (Python & Java), code-editors like (Eclipse,
         IntelliJ IDEA & Microsoft/VSCode), scripting-languages like
        (JavaScript, CSS, HTML). My birthplace is Medinipur, West Bengal and I am
        currently leaving in Kolkata, India.
      </p>
    </div>
    <div class="left-header">
      <div class="h-shape"></div>
      <div class="image">
        <img src="assets/Subham_Roy.jpg" alt="" />
      </div>
    </div>
  </div>
</header>
<app-about></app-about>
