<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
  integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
  rel="stylesheet"
/>

<!-- Projects Section -->
<section id="projects">
  <div class="projects container">
    <div class="projects-header">
      <h1 class="section-title">PORTFOLIO</h1>
    </div>
    <div class="all-projects">
      <div class="project-item">
        <div class="project-info">
          <h1>Project 1</h1>
          <h2>Portfolio-Website</h2>
          <p>
            A complete responsive portfolio website that describes one persons
            skills and efforts.<br /><a
              href="https://github.com/soumya-debug/My-Website"
              target="blank"
            >
              <button id="myBtn">
                <span class="colorChange1">Project-URL</span>
              </button></a>
          </p>
        </div>
        <div class="project-img">
          <img src="https://i.ibb.co/tmj4FMV/portfolio.jpg" alt="portfolio" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 2</h1>
          <h2>Restrurent Website</h2>
          <p>
            A simple Restrurent website that helps you to order your favourite cuisine from restrurent vitually. 
          <br /><a
              href="https://github.com/Subham-Gitcode/Java-fsd/tree/80b080f4debd2c22b7de9af2916b3d95f0364d50/Restaurant-Website"
              target="blank"
              ><button id="myBtn">
                <span class="colorChange1">Project-URL</span>
              </button></a
            >
          </p>
        </div>
        <div class="project-img">
          <img src="https://assets.awwwards.com/awards/submissions/2017/12/5a29435e59318.jpg" alt="restrurent" height="100%" width="100%" />
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 3</h1>
          <h2>Tax Calculator Application</h2>
          <p>
            A Application that helps you gather your all tax by end of the month. You need to just update manually.
            <br />
            <a
              href="https://github.com/Subham-Gitcode/Java-fsd/tree/80b080f4debd2c22b7de9af2916b3d95f0364d50/TaxCalculationAppp"
              target="blank"
              ><button id="myBtn2">
                <span class="colorChange1">Project-URL</span>
              </button></a
            >
          </p>
        </div>
        <div class="project-img">
          <img src="https://images.livemint.com/img/2023/02/04/1600x900/Income_tax_calculator_1675498095675_1675498095852_1675498095852.jpg" alt="Calculator" height="100%" width="100%"/>
        </div>
      </div>
      <div class="project-item">
        <div class="project-info">
          <h1>Project 4</h1>
          <h2>Team Budget planner</h2>
          <p>
            Helps you manage your team expences and them into budget<br />
            <a href="https://github.com/Subham-Gitcode/Java-fsd/tree/80b080f4debd2c22b7de9af2916b3d95f0364d50/Team_Budget_Planner" target="blank"
              ><button id="myBtn2">
                <span class="colorChange1">Project-URL</span>
              </button></a
            >
            
          </p>
        </div>
        <div class="project-img">
          <img src="https://marketplace.canva.com/EAFC47f5cws/2/0/1131w/canva-colorful-monthly-budget-planner-LHVGhY9vWBE.jpg" alt="dice" height="100%" width="100%" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Projects Section -->
<app-contact></app-contact>
